@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/
*{
  margin: 0;
  padding: 0;
}
h4{
  margin: 5px;
}
.blue-div{
  background-color: rgb(30, 68, 149);
  min-width: fit-content;
  display: flex;
  min-height: 500px;
}
.child-blue-div{
  width: 35%;
  
 
  
  text-align: left;
}
.General-width{
  width: 280px;
}

.left-div {
  margin-left: 20px; /* Adjust the value as needed to move components to the right */
  padding: 10px;
}

@media (max-width: 768px) {
  .left-div {
      margin-left: 10px; /* Adjust for smaller screens */
  }
  .right-div{
    margin-left: 10px;
  }
}
.right-div{
  margin-left: 20px; /* Adjust the value as needed to move components to the right */
  padding: 10px;
}
.Gray-headphone{
  display: inline-block;
  transform: scaleY(1.2);
  
}


